@model IEnumerable<Translator.Models.VM.GlossaryVM>

@{
    ViewData["Title"] = "Переводчик";
}


@using X.PagedList.Mvc.Core; 
@using X.PagedList; 
@using X.PagedList.Mvc.Common

@if (TempData["DelTranslate"] != null)
{
    <div class="alert alert-success sucsdelcat">Перевод удален</div>
}

<h2>Переводы</h2>
<p>С возможностью накапливать и изменять перевод</p>


<table class="table sorting mycategor" id="pages">
    <thead>
        <tr>


            <th>
                <h2>Текст</h2>
            </th>
            <th>
                <h2>Перевод</h2>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.OnePageOfProducts)
        {
            <tr id="id_@item.Id" class="@item.English">

                
                <td>
                    @item.Russian
                </td>
                <td>
                    <div class="mytextcat"></div>
                    <input type="text" readonly="readonly" class="form-control text-box" value="@item.English">
                </td>
                <td>

                    @Html.ActionLink("Удалить", "DelTranslate", new { id = item.Id }, new { @class = "deleteresult" })
                </td>
            </tr>
        }
        <tr>
            <td>
                @Html.PagedListPager((IPagedList)ViewBag.OnePageOfProducts, page => Url.Action("About", "Home", new { page = page }))

            </td>
        </tr>
    </tbody>
</table>
@*@Html.PagedListPager(, page => Url.Action("About", new { page }))*@
@section Scripts {
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
    <script>
        $(function () {


            $(".deleteresult").click(function () {
                if (!confirm("Вы уверенны?")) return false;

            });
            //Change the category
            var valuetextboxcat;
            $("table#pages input.text-box").dblclick(function () {
                valuetextboxcat = $(this).val();
                $(this).attr("readonly", false);
                //valuetextboxcat.keyup(function (e) {
                //    if (e.keyCode == 13) {
                //        $(this).attr("readonly", readonly);
                //    }
                //});
            });
            //
            $("table#pages input.text-box").keyup(function (e) {
                if (e.keyCode == 13) {
                    $(this).blur();
                }
            });
            ////////////////////////////////////////////////////////////
            $("table#pages input.text-box").blur(function () {
                var $this = $(this);
                var mytextcatmessage = $this.parent().find(".mytextcat");
                var newmytextcat = $this.val();
                var id = $this.parent().parent().attr("id").substring(3);
                var url = "/Home/ChangeTranslate";
               
                $.post(url, { newmytextcat: newmytextcat, id: id }, function (data) {
                    var response = data.trim();
                   
                        mytextcatmessage.html(" <span class= 'alert alert-success'> Вы изменили перевод <span>").show();

                    
                    setTimeout(function () {
                        mytextcatmessage.fadeOut("fast", function () {
                            mytextcatmessage.html("");
                        })
                    }, 2000);
                }).done(function () {
                    $this.attr("readonly", true);
                });
            });
            //////////////////////////////////////////////////

            //////////////////////////////////////////////////


        });
    </script>

}
